.h {
  background-color: #fff;
}
.el-header {
  width: 1700px;
  margin: 0 auto;
  font-size: 18px;
  height: 60px;
  line-height: 30px;
  background-color: #fff;
}
.el-header .header_left {
  float: left;
}
.el-header .header_left .icon-a-shujutongji20beifen2:before {
  font-size: 50px;
}
.el-header .header_right {
  float: right;
  margin-right: 10px;
}
.el-header .header_right .el-avatar {
  margin-top: -6px;
  --el-avatar-size: 42px;
}
.el-header .header_right .iconfont {
  font-size: 32px;
}
.el-header ul > li {
  list-style: none;
  float: left;
  font-size: 18px;
  margin-right: 25px;
}
.el-header ul > li a {
  color: #000;
  text-decoration: none;
}
.el-header ul > li .iconfont {
  font-size: 16px;
}
.el-header select > option {
  font-size: 24px;
}
.el-header .aLast {
  color: orange;
}
.el-header .aLast .iconfont {
  font-size: 20px;
}
.el-header .aLast .selectStyle {
  outline: none;
  border: 0;
  font-size: 19px;
  color: orange;
  appearance: none;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari 和 Chrome */
}
