.index_body {
    background-color: rgb(247, 248, 250);

    .container {
        margin-top: 40px;
        width: 1520px;
        margin: 0 auto;
        background-color: #fff;

        .study {
            height: 100px;
            background-color: rgb(156, 152, 153);
        }

    }
}