/* 全局样式表 */

html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 去掉li 的小圆点 */
li {
    list-style: none
}
button {
    /* 当我们鼠标经过button 按钮的时候，鼠标变成小手 */
    cursor: pointer
}
a {
    color: #666;
    text-decoration: none
}

a:hover {
    color: #c81623
}